.container{
    width: 500px;
    height: 400px ;
    background-color: aqua;
    gap: 20px;
    display: grid;
    grid-template-columns: auto auto ;
    margin-left: 400px;
}
.box1{
  
    background-color: blue;
    grid-column: 1/3;
}
.box2{
  
    background-color: rgb(84, 84, 128);

}
.box3{
   
    background-color: rgb(179, 9, 148);
  
}
.box4{
   
    background-color: rgb(235, 1, 12);
    grid-column: 1/3;
}
